In [193]:
import pandas as pd
from pathlib import Path

In [3]:
# Importing and reading csvfile

In [194]:
pwd

'C:\\Users\\racim\\Python-Homework\\PyBank'

In [195]:
csvpath = Path("../Instructions/PyBank_csvfile/Resources/budget_data.csv")
Budget_dataframe = pd.read_csv(csvpath)
Budget_dataframe.head(87)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [163]:
# Numbers of Months
numbers_of_months = len(budget_dataframe.axes[0])
print(f"The total number of months included inthe the dataset is: {numbers_of_months}")

The total number of months included inthe the dataset is: 86

In [164]:
# Net Total Profit
Net_total_profit = budget_dataframe['Profit/Losses'].sum()
print(f"The net total Profit/Losses over the entire period is: ${column_sum}")

The net total Profit/Losses over the entire period is: $38382578

In [175]:
# The gratest increase in profits (date and amounr) over the entire period

## first I have to create a new column called named Monthly Change Using .diff()
budget_dataframe["Monthly Change"] = budget_dataframe["Profit/Losses"].diff()
budget_dataframe.head()

       Date  Profit/Losses  Monthly Change
0  Jan-2010         867884             NaN
1  Feb-2010         984655        116771.0
2  Mar-2010         322013       -662642.0
3  Apr-2010         -69417       -391430.0
4  May-2010         310503        379920.0

In [178]:
## Setting 'Date' as the index
budget_dataframe.set_index(budget_dataframe['Date'], inplace=True)
budget_dataframe.head()

              Date  Profit/Losses  Monthly Change
Date
Jan-2010  Jan-2010         867884             NaN
Feb-2010  Feb-2010         984655        116771.0
Mar-2010  Mar-2010         322013       -662642.0
Apr-2010  Apr-2010         -69417       -391430.0
May-2010  May-2010         310503        379920.0

In [192]:
# Max Profit
max_profit = budget_dataframe.max()['Monthly Change']
print (max_profit)
max_index = budget_dataframe["Monthly Change"].idxmax(axis=0)
print(max_index)

1926159.0
Feb-2012

In [191]:
#Min profit and Date
min_profit = budget_dataframe.min()['Monthly Change']
print (min_profit)
min_index = budget_dataframe['Monthly Change'].idxmin(axis=0)
print(min_index)

-2196167.0
Sep-2013

In [190]:
print(f"The total number of months included inthe the dataset is: {numbers_of_months}")

print(f"The net total Profit/Losses over the entire period is: ${column_sum}")

print(f"The greatest increase in profits was in {max_index} for an amount of ${max_profit}")

print(f"The greatest decrease in losses was in {min_index} for an amount of ${min_profit}")

The total number of months included inthe the dataset is: 86
The net total Profit/Losses over the entire period is: $38382578
The greatest increase in profits was in Feb-2012 for an amount of $1926159.0
The greatest decrease in losses was in Sep-2013 for an amount of $-2196167.0